<!DOCTYPE html>

<html>
<STYLE TYPE="text/css">
<!--
.rightalign {text-align:right}
-->
</STYLE>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <p class="rightalign">
    <a align=right href=http://localhost:9000/logout> Logout </a>
    </p>
        #{doLayout /}
    </body>
</html>
