.rightalign {text-align:right}

H1 {
	padding: 5px;
}

H2 {
	font-size: 10;
}

A:LINK,A:VISITED {
	color: black;
}

A:HOVER {
	color: gray;
}

#welcomeBox {
	max-width: 500px;
	min-height: 533px;
	margin: auto;
	text-align: center;
	padding: 20px;
	top: 20px;
	left: 380px;
}

#UserBox {
	margin-left: 10px;
	min-width: 195px;
	min-height: 382px;
	position: relative;
	padding: 20px;
	float: left;
	max-width: 200px;
}

#CalendarBox {
	margin: auto;
	margin-left: 10px;
	padding: 20px;
	min-width: 500px;
	min-height: 200px;
	margin-bottom: 14px;
	float: left
}

#logoutBox {
	padding: 10px;
	float: right;
}

textarea#eventName {
        width: 600px;
        height: 120px;
        resize: none
}

#CalendarBox, #UserBox, #welcomeBox, H1, textarea#eventName {
	background: white;
	border: 4px solid saddlebrown;
}

H1, H2 {
	color: saddlebrown;
}

body {
	background-color: antiquewhite;
}