#{extends 'main.html' /}

<H1> ${user.name}'s ${calendar.name}, upcoming Events</H1>

#{if msg}
<H1>
	<error>${msg}</error>
</H1>
#{/if}

<div id=CalendarBox>
#{list items:events, as:'event'}
	<p>
		${event.name} from ${event.startTime.toString()} to ${event.endTime.toString()}
	</p>
#{/list}
</div>
<p>
#{if user==myself}
<div id=CalendarBox>
#{form @Application.addEvent()}
    <p>
        <label for="eventStart">Start date: </label>
        <input type="text" name="eventStart" id="eventStart" />
    </p>
        <p>
        <label for="eventEnd">End date: </label>
        <input type="text" name="eventEnd" id="eventEnd" />
    </p>
    <p>
        <a href=@{Application.AvailableFormats()}> View available date formats </a>
    </p>
    
    <p>
        <label for="eventName">Description of new event: </label>
    </p>
    <p>
        <textarea name="eventName" id="eventName"></textarea>
    </p>
    	<input type="hidden" name="userName" id="userName" value="${user.name}" />
    	<input type="hidden" name="calendarName" id="calendarName" value="${calendar.name}" />
   	<p>
		<input type="checkbox" name="isPrivate" checked="checked"/>
		<label for="isPrivate">Make event private</label>
	</p>
    <p>
        <input type="submit" value="Add event to calendar" />
    </p>
#{/form}
</div>
#{/if}
</p>
